<app-sidebar id="sidebar" role="navigation" class="sidebar"></app-sidebar>
<app-navbar (toggleSidebarEvent)="toggleSidebarListener($event)"  class="page-controls navbar navbar-dashboard"></app-navbar>
<!-- <app-chat-sidebar class="chat-sidebar"></app-chat-sidebar> -->
<div class="content-wrap" id="content-wrap">
  <ngx-loading-bar [color]="color"></ngx-loading-bar>
  <main id="content" class="content" role="main">
    <div class="router-component" #routerComponent>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>
</div>


